.showwords{
    font-size: 28px;
    position: absolute;
    z-index: 1;
    margin: -39px;
    width: 100%;
    height: 48px;
    line-height: 48px;
    letter-spacing: 5px;
    color: black;
    font-weight: bolder;
    text-shadow: 3px 3px 10px white, -3px 3px 10px white, 3px -3px 10px white, -3px -3px 10px white;
    left: 39px;
    text-align: center;
}

.cake{
    left: 0px;
    top: 570px;
    width: 390px;
}
.flag{
    left: 42px;
    top: -6px;
    -webkit-transform: rotate(0deg) scale(1,1);
    width: 477px;
    -webkit-animation: flag 2s linear infinite alternate;
}
.flag1{
    -webkit-transform: scale(-1,1);
    left: -26px;
    top: -44px;
    width: 450px; 
    -webkit-animation: flag1 2s linear infinite alternate;
}
.ban1{
    left: 366px;
    top: 520px;
    -webkit-animation: fade 1.6s linear infinite alternate;
}
.ban2{
    left: 66px;
    top: 114px;
    -webkit-animation: fade 2s linear infinite alternate;
}
.ban3{
    left: 39px;
    top: 184px;
    -webkit-animation: fade1 2s linear infinite alternate;
}
.xin1{
    left: 340px;
    top: 716px;
    width: 70px;
    -webkit-transform-origin: 50% 100%;
    -webkit-animation: xin1 2s linear infinite alternate;
}
.xin2{
    left: 414px;
    top: 724px;
    width: 55px;
    -webkit-transform-origin: 50% 100%;
    -webkit-animation: xin2 2s linear infinite alternate;
}
.xin3{
    left: 345px;
    top: 730px;
    width: 35px;
    -webkit-transform: translate(0px,0px) rotate(-99deg);
    -webkit-animation: xin3 2.5s linear infinite;
}
.xin4{
    left: 424px;
    top: 736px;
    width: 35px;
    -webkit-animation: xin4 2s linear infinite;
}
.huo1{
    left: 138px;
    top: 573px;
    width: 16px;
    -webkit-transform-origin: 50% 100%;
    -webkit-animation: huo1 4s linear infinite;
}
.huo2{
    left: 195px;
    top: 575px;
    width: 16px;
    -webkit-transform-origin: 50% 100%;
    -webkit-animation: huo1 5s linear infinite;
}
.huo3{
    left: 227px;
    top: 585px;
    width: 16px;
    -webkit-transform-origin: 50% 100%;
    -webkit-animation: huo1 4s linear infinite alternate;
}
.huo4{
    left: 154px;
    top: 586px;
    width: 15px;
    -webkit-transform-origin: 50% 100%;
    -webkit-animation: huo1 5s linear infinite alternate;
}
.yingzi{
    left: 332px;
    top: 778px;
}
.yingzi1{
    left: 397px;
    top: 774px;
    width: 80px;
}
#heng1{
    right: 250px;
    top: 30px;
    position: absolute;
    width: 0px;
    height: 11px;
    overflow: hidden;
}
#heng2{
    right: 250px;
    top: 212px;
    position: absolute;
    width: 0px;
    height: 11px;
    overflow: hidden;
}
#xian1,#xian2{
    position: absolute;
    right: -157px;
}
#xian3,#xian4{
    position: absolute;
    left: -157px;
}
#heng3{
    left: 250px;
    top: 30px;
    position: absolute;
    width: 0px;
    height: 11px;
    overflow: hidden;
}
#heng4{
    left: 250px;
    top: 212px;
    position: absolute;
    width: 0px;
    height: 11px;
    overflow: hidden;
}
#titlebg{
    background-color: rgba(255,255,255,0.25);
    width:500px;
    height:250px;
    opacity: 0;
}
.page{
    width: 500px;

    height: 815px;
    position: absolute;
    opacity: 0;
}
.page > div{
    position: absolute;
}
#div1h,#div2h{
    width: 480px;
    background-color: #9c9c9c;
    border: 5px solid #fff;
    height: 320px;
    left: 10px;
    top: 220px;
    overflow: hidden;
}
#div2v,#div1v{
    width: 420px;
    height: 600px;
    top: 50px;
    left: 40px;
    background-color: #9c9c9c;
    border: 5px solid #fff;
    overflow: hidden;
}





@-webkit-keyframes flag{
    from  {-webkit-transform: translate(0px,0px);}
    to    {-webkit-transform: rotate(0deg) scale(1,1) translate(-18px,-2px);}
}
@-webkit-keyframes flag1{
    from  {-webkit-transform: scale(-1,1);}
    to    {-webkit-transform: scale(-1,1) rotate(0deg) translate(-20px,0px);}
}
@-webkit-keyframes fade{
    from  {opacity: 0}
    to    {opacity: 1}
}
@-webkit-keyframes fade1{
    from  {opacity: 0}
    to    {opacity: 0.3}
}
@-webkit-keyframes xin1{
    from  {-webkit-transform: rotate(-8deg);}
    to    {-webkit-transform: rotate(0deg);}
}
@-webkit-keyframes xin2{
    from  {-webkit-transform: rotate(10deg);}
    to    {-webkit-transform: rotate(0deg);}
}
@-webkit-keyframes xin3{
    0% {-webkit-transform: rotate(-99deg);opacity: 1}
    80%  {-webkit-transform: translate(9px,-104px) rotate(-46deg);opacity: 0}
    100% {opacity: 0;}
}
@-webkit-keyframes xin4{
    0%  {-webkit-transform: translate(0px,0px);opacity: 1}
    80% {-webkit-transform: translate(8px,-99px) rotate(-40deg);opacity: 0}
    100% {opacity: 0;}
}
@-webkit-keyframes huo1{
    0%  {-webkit-transform: translate(0px,0px) skew(0deg,0deg) scale(1,1);}
    20% {-webkit-transform: translate(0px,0px) skew(-8deg,0deg) scale(1,1);}
    40% {-webkit-transform: translate(0px,0px) scale(0.9,1.1) skew(-1deg,0deg);}
    60% {-webkit-transform: translate(0px,0px) scale(1.02,0.9) skew(5deg,0deg);}
    80% {-webkit-transform: translate(0px,0px) scale(0.9,1.1) skew(-3deg,0deg);}
    100%  {-webkit-transform: translate(0px,0px) skew(0deg,0deg) scale(1,1);}
}
@-webkit-keyframes changeline{
    from  {width: 0px;}
    to    {width: 156px;}
}
@-webkit-keyframes titlebg{
    from  {-webkit-transform: scale(1,0.8);opacity: 0}
    to    {-webkit-transform: scale(1,1);opacity: 1}
}
@-webkit-keyframes fadein{
    from  {opacity: 0}
    to    {opacity: 1}
}

@-webkit-keyframes rotate_in_flip_x{
    0%{
        -webkit-transform:perspective(400px) rotateX(90deg);
        opacity:0
    }
    40%{
        -webkit-transform:perspective(400px) rotateX(-10deg);
        opacity: 0.4
    }
    70%{
        -webkit-transform:perspective(400px) rotateX(10deg);
        opacity: 0.7;
    }
    100%{
        -webkit-transform:perspective(400px) rotateX(0deg);
        opacity:1
    }
}
@-webkit-keyframes ying_x_in{
    0%   {-webkit-transform: scale(1,0);opacity: 0}
    36%  {-webkit-transform: scale(1,1);}
    40%  {-webkit-transform: scale(1,0.9);}
    55%  {-webkit-transform: scale(1,1);}
    70%  {-webkit-transform: scale(1,0.9);}
    100% {-webkit-trnasform: scale(1,1);opacity: 1}
}
@-webkit-keyframes rotate_out_flip_x{
    0%{
        -webkit-transform:perspective(400px) rotateX(0deg);
        opacity:1
    }
    100%{
        -webkit-transform:perspective(400px) rotateX(90deg);
        opacity:0
    }
}
@-webkit-keyframes ying_x_out{
    0%  {-webkit-transform: scale(1,1);opacity: 1}
    100%{-webkit-transform: scale(1,0);opacity: 0}
}

@-webkit-keyframes rotate_in_flip_y{
    0%{
        -webkit-transform:perspective(400px) rotateY(90deg);
        opacity:0
    }
    40%{
        -webkit-transform:perspective(400px) rotateY(-10deg);
        opacity: 0.4
    }
    70%{
        -webkit-transform:perspective(400px) rotateY(10deg);
        opacity: 0.7
    }
    100%{
        -webkit-transform:perspective(400px) rotateY(0deg);
        opacity:1
    }
}
@-webkit-keyframes ying_y_in{
    0%  {-webkit-transform: scale(0,1);opacity: 0}
    40% {-webkit-transform: scale(1,1);opacity: 1}
    /*55% {-webkit-transform: scale(1,1);opacity: 1}*/
    70% {-webkit-transform: scale(0.9,1);opacity: 1}
    100%{-webkit-transform: scale(1,1);opacity: 1}
}
@-webkit-keyframes rotate_out_flip_y{
    0%{
        -webkit-transform:perspective(400px) rotateY(0deg);
        opacity:1
    }
    100%{
        -webkit-transform:perspective(400px) rotateY(90deg);
        opacity:0
    }
}
@-webkit-keyframes ying_y_out{
    0%  {-webkit-transform: scale(1,1);opacity: 1}
    100%{-webkit-transform: scale(0,1);opacity: 0}
}
@-webkit-keyframes fadeout{
    from  {opacity: 1}
    to    {opacity: 0}
}
.yingh{
    width: 510px;
    height: 50px;
    top: 650px;
    opacity: 0;
}
.yingv{
    width: 460px;
    left: 27px;
    top: 700px;
    height: 50px;
    opacity: 0;
    -webkit-transform-origin: 30% 50%;
}
.img{
    position: absolute;
}









